@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400&display=swap');

:root, :root[data-theme='light'] {
  --primary-color: #4A605E;

  --title-color: #393E46;
  --text-color: #A8A8A8;
  --light-color: #EBEBEB;
  --link-color: #9A9A9C;
  --icon-color: #C7C8C9;

  --bg-primary-color: #fff;
  --white:#fff;
  --primary-bg-color: #F5F6F7;
  --border-card-color: #DEDEDE;
  --footer-color: #242F2E;
  --footer-text-color: #242F2E;
}

:root[data-theme='dark'] {

    --primary-color: #A5C8CD;

    --title-color: #E2DCD1;
    --text-color: #C8C8C8;
    --light-color: #303030;
    --link-color: #9A9A9C;
    --icon-color: #C7C8C9;
  
    --bg-primary-color: #1E1E1E;
    --white:#E2DCD1;
  --border-card-color: #363636;
    --primary-bg-color: #2E2E2E;
    --footer-text-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

htm, body{
    overflow-x: hidden;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column; /* Coloca os containers em coluna */
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-primary-color);
    transition: 0.5s;
}

.container{
    max-width: 1240px;
}

:root[data-theme='light'] .logo-dark{
    display: none;
}

:root[data-theme='dark'] .logo-dark{
    display: block;
}

:root[data-theme='dark']  .logo-light{
    display: none;
}

:root[data-theme='light'] .logo-light{
    display: block;
}

.mobile{
    display: none!important;
}

header{
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
    padding: 10px 0px 10px 0px;
    border-top: solid 1px var(--light-color);
    border-bottom: solid 1px var(--light-color);
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav ul li a{
    border: solid 1px var(--light-color);
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    color: var(--title-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

header nav ul li a:hover, header nav ul .menu__icon i:hover {
    border:1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white);
    transition: 250ms;
}


header nav ul .menu__icon i{
    border: solid 1px var(--light-color);
    border-radius: 100px;
    cursor: pointer;
    padding: 10px 12px;
    font-size: 19px;
    color: var(--title-color);
}

header #hambuerguer-menu{
    display: none;
}


footer{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

footer .img-position-3{
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;

}

.footer-content{
    display: flex;
    flex-direction: column;
    margin-top: 107px;
}

.newsletter{
    background-color: #1D2726;
    display: flex;
    padding: 64px 103px 57px 54px;
    border-radius: 20px;
    gap: 70px;
    box-shadow: 0px 23px 27px 0px rgba(0,0,0,0.4);
}

.newsletter-text{
    color: var(--white);
}

.newsletter-text h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.newsletter form {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-primary-color);
    border-radius: 20px;
    padding: 8px 8px 8px 24px;
    max-width: 510px;
}

.newsletter input[type="email"] {
    padding: 10px;
    border-radius: 25px 0 0 25px;
    border: none;
    width: 300px;
    font-size: 16px;
    background-color: var(--bg-primary-color);
    color: var(--title-color);
}

.newsletter input[type="email"]:focus {
    outline: none;
}


.newsletter button {
    padding: 18px 64px;
    border-radius: 20px;
    border: none;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--bg-primary-color);
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    padding: 48px 0px;
    border-bottom: solid 1px var(--light-color);
}

.footer-nav ul{
    display: flex;
}

.footer-nav ul li a{
    color: var(--footer-text-color);
    text-decoration: none;
}

.footer-nav .links ul{
    gap: 70px;
}

.footer-nav .social ul{
    gap: 40px;
}

:root[data-theme='dark'] .footer-nav .social ul li a svg path{
    fill: var(--white);;
}

.footer-info{
    padding: 35px 0px 70px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info p{
    font-size: 14px;
    color: var(--footer-text-color);
    font-weight: 400;
}

.footer-info div{
    display: flex;
    gap: 20px;
}

.footer-info div a{
    text-decoration: none;
    font-size: 14px;
    color: var(--footer-text-color);
}

.menu-mobile {
    list-style: none;
    overflow: hidden;
    position: absolute;
    left: 0;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    background-color: var(--bg-primary-color);
    z-index: 10;
  }
  
  .menu-mobile li {
    margin: 10px 0;
    text-align: center;
  }
  
  .menu-mobile a {
    color: var(--title-color);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
  }


@media (max-width:1024px) {
    .container{
        max-width: calc(100% - 40px);
    }

    header #hambuerguer-menu{
        display: block;
    }

    header #hambuerguer-menu i svg path{
        stroke: var(--title-color);
    }

}

@media (max-width: 768px){
    html, body {
        overflow-x: hidden;
        width: 100%;
    }
    .desktop{
        display: none!important;
    }
    .mobile{
        display: block!important;
    }

    header nav{
        border: none;
        margin: 0;
        padding-bottom: 0;
    }


    .menu-mobile {
        flex-direction: column;
        width: 100%;
      }
    
      .menu-mobile li {
        margin: 20px 0;
      }
    
      /* Ativar o menu ao clicar */
      .menu-mobile.active {
        max-height: 500px;
        position: absolute;
        /* width: 100%; */
        left: 0;
        z-index: 999;
        margin-top: 10px;
      }
    

    .footer-content{
        margin-top: 0px;
    }
    
    .newsletter{
        flex-direction: column;
        padding: 58px 18px;
    }

    .newsletter-text h2{
        font-size: 16px;
        text-align: center;
    }

    .newsletter-text p{
        font-size: 12px;
        text-align: center;
    }

    .newsletter form{
        flex-direction: column;
        width: 100%;
        background-color: transparent;
        gap: 40px;
        padding: 0px 0px;
    }

    .newsletter input[type="email"]{
        border-radius: 20px;
        padding: 25px;
        width: 100%;
    }

    .footer-nav{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 40px 0px 20px 0px;
    }

    .footer-info{
        padding: 20px 0px;
    }

    .footer-info.mobile{
        display: flex!important;
        gap: 20px;
        flex-direction: column;
    }
}