
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    background: url(../img/main-cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.main main {
    text-align: center;
    width: max-content;
    height: max-content;
    padding: 30px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    background: #ffffff63;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}


.main main h1 {
    font-size: 50px;
    font-weight: 900;
}

.main main p {
    font-size: 20px;
}

.main main img {
    height: 10vh;
    width: auto;
}



@media screen and (max-width: 630px){

    .main main {
    text-align: center;
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 30px;
    }


    .main main h1 {
        font-size: 25px;
        font-weight: 900;
    }
    
    .main main p {
        font-size: 16px;
    }

    .main main img {
        height: 8vh;
        width: auto;
    }
    
}