body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #F8FBFB; /* designSystemLightThemePalette.backgroundColor */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #393E46; /* designSystemLightThemePalette.onSurfaceColor */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #A8A8A8; /* designSystemLightThemePalette.textSecondary */
}

.date {
    color: #A8A8A8; /* designSystemLightThemePalette.textSecondary */
    font-style: italic;
}

section {
    margin: 20px 0;
}

section h3 {
    font-size: 1.2em;
    color: #393E46; /* designSystemLightThemePalette.onSurfaceColor */
    margin-bottom: 10px;
}

ul {
    list-style: disc inside;
    padding-left: 20px;
}

p {
    color: #A8A8A8; /* designSystemLightThemePalette.textPrimary */
}

ul li {
    color: #A8A8A8;
}

footer {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #A8A8A8; /* designSystemLightThemePalette.textSecondary */
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #131515; /* designSystemDarkThemePalette.backgroundColor */
    }
    header {
        border-bottom: 1px solid #E2DCD1; /* designSystemDarkThemePalette.textPrimary */
    }
    header h2 {
        color: #E2DCD1; /* designSystemDarkThemePalette.textPrimary */
    }
    .date {
        color: #C8C8C8; /* designSystemDarkThemePalette.textSecondary */
    }
    section h3 {
        color: #E2DCD1; /* designSystemDarkThemePalette.textPrimary */
    }
    p {
        color: #C8C8C8; /* designSystemDarkThemePalette.textSecondary */
    }
    ul li {
        color: #C8C8C8;
    }
    footer {
        border-top: 1px solid #C8C8C8; /* designSystemDarkThemePalette.textSecondary */
    }
}
